
<h1>Yumm Cocktails!</h1>

<%= link_to "Add A Cocktail", "/cocktails/new" %>
<br>
<br>

<%= cl_image_tag("uqk7h4aq5rm1ly3oh4in",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("i7zq4ha92tvs6ozzbehb",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<h5>Current Cocktail List</h5>
<ul>
<% @cocktails.each do |cocktail|%>
<li><%= link_to cocktail.name, cocktail_path(cocktail)%></li>
<% end %>
</ul>


